 *{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background: url(Photos/urban-vintage-78A265wPiO4-unsplash.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    font-family:sans-serif; 
}

.navbar{
    width: 86%;
    display: flex;
    margin: auto;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
}

.navbar .LOGO{
    width: 160px;
    cursor: pointer;
    margin-top: -3%;
    margin-left: -1%;
}

ul{
    margin-top: -4%;
}

ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
}
 
ul li a{
    text-decoration: none;
    color: darkgreen;
    font-size: 18px;
    font-weight: bold;
    margin-top: -3%;
}

ul li a:hover{
    color: lightgreen;
    transition: 0.3s;
}

.info{
    margin-left: 7%;
    margin-top: 13%;
}

.info h1{
    color: rgb(36, 32, 30);
    font-size: 65px;
    margin-bottom: 10px; 
    font-weight: bold;
    line-height: 1.2; 
}

.info h2{
    color: rgb(36, 32, 30);
    font-size: 40px;
    margin-bottom: 30px;
}

.info h3{
    color: rgb(36, 32, 30);
    font-size: 25px;
    margin-bottom: 30px
}

.info span{
    color: rgb(222, 153, 24);
}

.info a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background: darkgreen;
    padding: 10px 18px;
    border-radius: 10px;
    margin: 26px 0;
}

.info a:hover{
    background: lightgreen;
    transition: 0.3s;
}

.image{
    position: absolute;
    bottom: 0;
    right: 100px;
    width: 30%;
    height: 60%;
}

.image img{
    height: 140%;
    left: 48%;
    position: absolute;
    transform: translateX(-55%);
    bottom: 0%;
    transition: left 0.5s ease;
    transform: 0.5s ease;
}

.image img:hover{
   left: 55%;
}

.icons a{
    text-decoration: none;
    color: #000;
}   

.icons ion-icon{
    color: #000;
    margin-left: 7%;
    margin-right: -60px;
    font-size: 40px;
    transition: 0.4s ease;
}

.icons a:hover ion-icon{
    color: darkgreen;
    transform: translateY(-5px);
}